# Demo notebook: Analysing battery data

## Introduction

In this notebook , we will extract battery data from the Aware platform and infer users' behavioral patterns from their interaction with the phone. The below functions will be described in this notebook:

- `niimpy.preprocessing.battery.battery_shutdown_info`: returns the timestamp when the device is shutdown or rebooted
- `niimpy.preprocessing.battery.battery_occurrences`: returns the number of battery samples within a time range
- `niimpy.preprocessing.battery.battery_gaps`: returns the time gaps between two battery sample

## Read data

In [1]:
import pandas as pd
import niimpy
import niimpy.preprocessing.battery as battery
from config import config

In [2]:
data = niimpy.read_csv(config.MULTIUSER_AWARE_BATTERY_PATH, tz='Europe/Helsinki')
data.shape

(505, 8)

In [3]:
data.head()

,user,device,time,battery_level,battery_status,battery_health,battery_adaptor,datetime
2020-01-09 02:20:02.924999936+02:00,jd9INuQ5BBlW,3p83yASkOb_B,1.578529e+09,74,3,2,0,2020-01-09 02:20:02.924999936+02:00
2020-01-09 02:21:30.405999872+02:00,jd9INuQ5BBlW,3p83yASkOb_B,1.578529e+09,73,3,2,0,2020-01-09 02:21:30.405999872+02:00
2020-01-09 02:24:12.805999872+02:00,jd9INuQ5BBlW,3p83yASkOb_B,1.578529e+09,72,3,2,0,2020-01-09 02:24:12.805999872+02:00
2020-01-09 02:35:38.561000192+02:00,jd9INuQ5BBlW,3p83yASkOb_B,1.578530e+09,72,2,2,0,2020-01-09 02:35:38.561000192+02:00
2020-01-09 02:35:38.953000192+02:00,jd9INuQ5BBlW,3p83yASkOb_B,1.578530e+09,72,2,2,2,2020-01-09 02:35:38.953000192+02:00

# Feature extraction

The dataframe's index first needs to be sorted in ascending order to be compatible with the functions in this module.

First, we can count the amount the battery samples every 10 minutes by using the `battery_occurences` function.

In [4]:
data = data.sort_index()
f = niimpy.preprocessing.battery.battery_occurrences
occurences = battery.extract_features_battery(data, feature_functions={f: {'hours':0,'minutes':10}})
occurences

<function battery_occurrences at 0x2b0e4a010940> {'hours': 0, 'minutes': 10}

,start,end,occurrences
2019-08-05 14:00:58.600000+03:00,2019-08-05 14:00:58.600000+03:00,2019-08-05 14:10:58.600000+03:00,1.0
2019-08-05 14:10:58.600000+03:00,2019-08-05 14:10:58.600000+03:00,2019-08-05 14:20:58.600000+03:00,0.0
2019-08-05 14:20:58.600000+03:00,2019-08-05 14:20:58.600000+03:00,2019-08-05 14:30:58.600000+03:00,1.0
2019-08-05 14:30:58.600000+03:00,2019-08-05 14:30:58.600000+03:00,2019-08-05 14:40:58.600000+03:00,0.0
2019-08-05 14:40:58.600000+03:00,2019-08-05 14:40:58.600000+03:00,2019-08-05 14:50:58.600000+03:00,0.0
...,...,...,...
2020-01-09 22:40:58.600000+02:00,2020-01-09 22:40:58.600000+02:00,2020-01-09 22:50:58.600000+02:00,1.0
2020-01-09 22:50:58.600000+02:00,2020-01-09 22:50:58.600000+02:00,2020-01-09 23:00:58.600000+02:00,0.0
2020-01-09 23:00:58.600000+02:00,2020-01-09 23:00:58.600000+02:00,2020-01-09 23:10:58.600000+02:00,2.0
2020-01-09 23:10:58.600000+02:00,2020-01-09 23:10:58.600000+02:00,2020-01-09 23:20:58.600000+02:00,0.0
2020-01-09 23:20:58.600000+02:00,2020-01-09 23:20:58.600000+02:00,2020-01-09 23:30:58.600000+02:00,1.0

The above dataframe gives the battery information of all users. You can also get the information for an individual by passing a filter dataframe.

In [5]:
individual_occurences = battery.extract_features_battery(data.query('user == "jd9INuQ5BBlW"'), feature_functions={f: {'hours':0,'minutes':10}})
individual_occurences

<function battery_occurrences at 0x2b0e4a010940> {'hours': 0, 'minutes': 10}

,start,end,occurrences
2020-01-09 02:02:26.104999936+02:00,2020-01-09 02:02:26.104999936+02:00,2020-01-09 02:12:26.104999936+02:00,2.0
2020-01-09 02:12:26.104999936+02:00,2020-01-09 02:12:26.104999936+02:00,2020-01-09 02:22:26.104999936+02:00,4.0
2020-01-09 02:22:26.104999936+02:00,2020-01-09 02:22:26.104999936+02:00,2020-01-09 02:32:26.104999936+02:00,7.0
2020-01-09 02:32:26.104999936+02:00,2020-01-09 02:32:26.104999936+02:00,2020-01-09 02:42:26.104999936+02:00,15.0
2020-01-09 02:42:26.104999936+02:00,2020-01-09 02:42:26.104999936+02:00,2020-01-09 02:52:26.104999936+02:00,13.0
...,...,...,...
2020-01-09 22:42:26.104999936+02:00,2020-01-09 22:42:26.104999936+02:00,2020-01-09 22:52:26.104999936+02:00,0.0
2020-01-09 22:52:26.104999936+02:00,2020-01-09 22:52:26.104999936+02:00,2020-01-09 23:02:26.104999936+02:00,1.0
2020-01-09 23:02:26.104999936+02:00,2020-01-09 23:02:26.104999936+02:00,2020-01-09 23:12:26.104999936+02:00,1.0
2020-01-09 23:12:26.104999936+02:00,2020-01-09 23:12:26.104999936+02:00,2020-01-09 23:22:26.104999936+02:00,1.0
2020-01-09 23:22:26.104999936+02:00,2020-01-09 23:22:26.104999936+02:00,2020-01-09 23:32:26.104999936+02:00,1.0

Next, you can extract the gaps between two consecutive battery samples with the `battery_gaps` function.

In [6]:
f = niimpy.preprocessing.battery.battery_gaps
gaps = battery.extract_features_battery(data, feature_functions={f: {}})
gaps[['user', 'device','delta']]

<function battery_gaps at 0x2b0e4a0109d0> {}

,user,device,delta
2019-08-05 14:00:58.600000+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,0 days 00:00:00
2019-08-05 14:03:35.800000+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,0 days 00:02:37.200000
2019-08-05 14:30:54.196000+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,0 days 00:27:18.396000
2019-08-05 15:22:06.193000192+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,0 days 00:51:11.997000192
2019-08-05 16:21:29.716000+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,0 days 00:59:23.522999808
...,...,...,...
2020-01-09 23:02:13.938999808+02:00,jd9INuQ5BBlW,OWd1Uau8POix,0 days 00:19:59.976999936
2020-01-09 23:10:37.262000128+02:00,jd9INuQ5BBlW,OWd1Uau8POix,0 days 00:08:23.323000320
2020-01-09 23:22:13.966000128+02:00,jd9INuQ5BBlW,OWd1Uau8POix,0 days 00:11:36.704000
2020-01-09 23:32:13.959000064+02:00,jd9INuQ5BBlW,OWd1Uau8POix,0 days 00:09:59.992999936
2020-01-09 23:39:06.800000+02:00,jd9INuQ5BBlW,OWd1Uau8POix,0 days 00:06:52.840999936

The most important piece of information is the  `delta` column, which gives the time gap between two battery samples.

Knowing when the phone is shutdown is essential if we want to infer the usage behaviour of the subjects. This can be done by calling the `shutdown_info` function. The function returns the timestamp when the phone is shut down or rebooted (e.g: battery_status = -1).

In [8]:
shutdown = battery.shutdown_info(data, feature_functions={'battery_column_name': 'battery_status'})
shutdown

/scratch/work/luongn1/niimpy/niimpy/preprocessing/battery.py:32: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  shutdown = df[df[col_name].between(-3, 0, inclusive=False)]

,user,device,time,battery_level,battery_status,battery_health,battery_adaptor,datetime
2019-08-07 10:37:11.308000+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,1.565163e+09,2,-1,2,0,2019-08-07 10:37:11.308000+03:00
2019-08-07 10:37:11.323000064+03:00,iGyXetHE3S8u,Cq9vueHh3zVs,1.565163e+09,2,-1,2,0,2019-08-07 10:37:11.323000064+03:00