# Demo notebook: Analysing tracker data

## Introduction

## Read data

In [6]:
import niimpy
import pandas as pd
import niimpy.preprocessing.tracker as tracker
from config import config

In [17]:
data = pd.read_csv(config.STEP_SUMMARY_PATH, index_col=0)
# Converting the index as date
data.index = pd.to_datetime(df.index)
data.shape

(73, 4)

In [18]:
data.head()

                         user        date          time  steps
2021-07-01 00:00:00  wiam9xme  2021-07-01  00:00:00.000      0
2021-07-01 01:00:00  wiam9xme  2021-07-01  01:00:00.000      0
2021-07-01 02:00:00  wiam9xme  2021-07-01  02:00:00.000      0
2021-07-01 03:00:00  wiam9xme  2021-07-01  03:00:00.000      0
2021-07-01 04:00:00  wiam9xme  2021-07-01  04:00:00.000      0

After binning, the number of datapoints (bins) reduces to 9755.

## Feature extraction

In [19]:
f = tracker.tracker_daily_step_distribution
step_distribution = tracker.extract_features_tracker(data, features={f: {}})
step_distribution

{<function tracker_daily_step_distribution at 0x2afb7c068550>: {}}

,date,time,steps,hour,month,day,daily_sum,daily_distribution
user,,,,,,,,
wiam9xme,2021-07-01,2021-07-01 00:00:00,0,0,7,1,5616,0.000000
wiam9xme,2021-07-01,2021-07-01 01:00:00,0,1,7,1,5616,0.000000
wiam9xme,2021-07-01,2021-07-01 02:00:00,0,2,7,1,5616,0.000000
wiam9xme,2021-07-01,2021-07-01 03:00:00,0,3,7,1,5616,0.000000
wiam9xme,2021-07-01,2021-07-01 04:00:00,0,4,7,1,5616,0.000000
...,...,...,...,...,...,...,...,...
wiam9xme,2021-07-03,2021-07-03 19:00:00,302,19,7,3,12002,0.025162
wiam9xme,2021-07-03,2021-07-03 20:00:00,12,20,7,3,12002,0.001000
wiam9xme,2021-07-03,2021-07-03 21:00:00,354,21,7,3,12002,0.029495
wiam9xme,2021-07-03,2021-07-03 22:00:00,0,22,7,3,12002,0.000000
wiam9xme,2021-07-03,2021-07-03 23:00:00,0,23,7,3,12002,0.000000