# Niimpy introduction

Niimpy allows you to access Koota sqlite databases easily.

## Demo

In [1]:
import niimpy
df = niimpy.read_csv(niimpy.sampledata.DATA_CSV, tz='Europe/Helsinki')
# List times when screen was turned on
screen_on_at = df[df['screen_status'] == 1 ].index
# List the first five values
screen_on_at[:5]

DatetimeIndex(['2020-01-09 02:34:39.969000192+02:00',
               '2020-01-09 02:35:39.176999936+02:00',
               '2020-01-09 02:45:34.970000128+02:00',
                  '2020-01-09 02:09:29.152000+02:00',
               '2020-01-09 02:16:19.010999808+02:00'],
              dtype='datetime64[ns, Europe/Helsinki]', freq=None)

### Looking at the data

You can look at raw data (this is basically the exact columns in the database)

In [7]:
screen = data.raw('AwareScreen', None)
# This is a pandas DataFrame
screen.head()

,time,screen_status,datetime
2018-07-10 00:13:17.933000088+03:00,1.531171e+09,1,2018-07-10 00:13:17.933000088+03:00
2018-07-10 00:13:28.671999931+03:00,1.531171e+09,0,2018-07-10 00:13:28.671999931+03:00
2018-07-10 00:13:28.717999935+03:00,1.531171e+09,2,2018-07-10 00:13:28.717999935+03:00
2018-07-10 12:05:05.299000025+03:00,1.531214e+09,1,2018-07-10 12:05:05.299000025+03:00
2018-07-10 12:05:09.782999992+03:00,1.531214e+09,0,2018-07-10 12:05:09.782999992+03:00

Get the first timestamp of the data

In [8]:
data.first('AwareScreen', None)['datetime'][0]

Timestamp('2018-07-10 00:13:17.933000088+0300', tz='Europe/Helsinki')

Let's use this chance to discuss some common column names:
* `time` always referrs to a unixtime
* `datetime` always referrs to a `pandas.Timestamp`
* the dataframe index is usually pandas timestamps if appropriate - same as `datetime`.